extends layout

block content
  div#main-content
    div#work-zone
      h2 BETA BETA BETA
      #code
        button#compile Compile and Run
      div
        span Output
        pre#output
    div#chat-zone
      span#editor-symbol.fa.fa-edit
      div#user-list
        &nbsp;
      hr.clear
      div#messages
      form#talk
        input(type="text" id="chatmsg")
        button#send-message Send message

  div#help
    h1 This is 
      em NodeCode
    div
      p NodeCode is an web interface to gcc 4.8.
      p Share the link to this room to invite other users to view your code.
      p 
      | Only one person can be the editor at a time, they will have 
      span.fa.fa-edit
      |  next to their name in the user list (top right).
      p If you are the editor, you can pass to someone else by clicking their name
      p At any time, the editor can click the compile button.  The code will be saved to a file on the server and compiled to an executable (in C++ mode), and then executed.  All users will see the output of the compilation and execution.

