extends layout

block content
  div#main-content
    div#work-zone
      h2 BETA BETA BETA
      #code
        button#compile Compile and Run
      div
        span Output
        pre#output
    div#chat-zone
      div#user-list
        &nbsp;
      div#messages
      form#talk
        input(type="text" id="chatmsg")
        button#send-message Send message
      form#settings
        input(type="text" id="name")
        button#set-name Set Name

  