extends layout

block content
  h1= title
  p Welcome to #{title}
  #hidden
    #hidden_code
      = code.code
    #hidden_id
      = code._id

  div
    span Number of connected users:
    span#user-count
  #chat.twobox
    div#user-list
    div#messages
  #chat-control
    input(type="text" id="chatmsg")
    button#send-message Send message
    input(type="text" id="name")
    button#set-name Set Name

  .twobox
    #code
      button#compile Compile and Run
    div
      span Output
      div.graybox
        pre#output
