extends layout

block content
  #header
    .title NodeCode
    span.navbutton.fa.fa-navicon
    .menu
  #other-user-menu.flyout
    span.close-button.fa.fa-close
    br
    | Name: 
    span.name
    br
    a.elevate(href="#") Make this user the editor
  #user-menu.flyout
    .user-id
      span You are:
      span.name
      span.self-icon.fa.fa-user
    .set-user-name
      a(href="#") Change name
    .user-control
      a#show-login(href="#")= user ? "logout" : "login"

    form#settings
      input(type="text" id="name")
      button#set-name Set Name
    div
      a.show-help(href="#") Show help
  div#main-content
    div#work-zone
      h2 BETA BETA BETA
      #toolbar
        ul
          li
            button#compile Compile and Run
      #main-panel
        #code
        pre#output
          | Results >
    div#chat-zone
      span#editor-symbol.fa.fa-edit
      div#user-list
        | &nbsp;
      hr.clear
      div#messages
      form#talk
        input(type="text" id="chatmsg")
        button#send-message Send message

  div#help
    h1 This is 
      em NodeCode
    div
      p NodeCode is an web interface to gcc 4.8.
      p Share the link to this room to invite other users to view your code.
      p 
      | Only one person can be the editor at a time, they will have 
      span.fa.fa-edit
      |  next to their name in the user list (top right).
      p If you are the editor, you can pass to someone else by clicking their name
      p At any time, the editor can click the compile button.  The code will be saved to a file on the server and compiled to an executable (in C++ mode), and then executed.  All users will see the output of the compilation and execution.

  div#login
    form#login-form(action="#")
      div
        label(for="email") Email
        input(type="text" name="email" autofocus class="tabbable")
      div
        label(for="password") Password
        input(type="password" name="password" class="tabbable")
      div.registration
        div
          label(for="passwordConfirmation") Confirm Password
          input(type="password" name="passwordConfirmation" class="tabbable")
        div
          label(for="betaCode") Beta code
          input(type="text" name="betaCode" class="tabbable")
      div
        a(href="#" id="register") Register


  script(src="//code.jquery.com/jquery-1.11.1.min.js")
  script(src="//code.jquery.com/ui/1.11.1/jquery-ui.min.js")
  script(src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js")

  script(src="/javascripts/noconflict.js")
  script(src="/lib/codemirror-compressed.js")
  script(src="/socket.io/socket.io.js")
  script(src="/javascripts/code_socks.js")

