doctype html
html
  head
    title= title

    link(rel="stylesheet", href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css")
    link(rel="stylesheet", href="//code.jquery.com/ui/1.11.2/themes/smoothness/jquery-ui.css")
    link(rel="stylesheet", href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css")
    link(rel="stylesheet", href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap-theme.min.css")

    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/lib/codemirror.css')

    script(type="text/javascript").
      window.codeprops = {};

    if code
      script(type="text/javascript").
        window.codeprops.code = "#{code.code.replace("\n", "\\n")}";
        window.codeprops.codeId = "#{code._id}";

    if user
      script(type="text/javascript").
        window.codeprops.userName = "#{user.name}"

  body

    block content

