doctype html
html
  head
    title= title

    link(rel="stylesheet", href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css")
    link(rel="stylesheet", href="//code.jquery.com/ui/1.11.2/themes/smoothness/jquery-ui.css")
    link(rel="stylesheet", href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css")
    link(rel="stylesheet", href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap-theme.min.css")

    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/lib/codemirror.css')

    script(src="//code.jquery.com/jquery-1.11.1.min.js")
    script(src="//code.jquery.com/ui/1.11.1/jquery-ui.min.js")
    script(src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js")

    script(src="/javascripts/noconflict.js")
    script(src="/lib/codemirror-compressed.js")
    script(src="/socket.io/socket.io.js")
    script(src="/javascripts/code_socks.js")

    if code
      script(type="text/javascript").
        window.codeprops = {
          code: "#{code.code.replace("\n", "\\n")}",
          codeId: "#{code._id}"
        };
  body
    #header
      .title NodeCode
      span.navbutton.fa.fa-navicon
      .menu
    #other-user-menu.flyout
      span.close-button.fa.fa-close
      br
      | Name: 
      span.name
      br
      a.elevate(href="#") Make this user the editor
    #user-menu.flyout
      .user-id
        span You are:
        span.name
        span.self-icon.fa.fa-user
      .set-user-name
        a(href="#") Change name
      form#settings
        input(type="text" id="name")
        button#set-name Set Name
      div
        a.show-help(href="#") Show help
    block content
