/*
 * General rules
 */
body {
  margin: 0px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
a {
  color: #00B7FF;
}
#hidden {
  display:none;
}

 /*
  * Header
  */
#header {
  height: 50px;
  background-color: #4679bd;
}
#header .title {
  float: right;
  width: 200px;
  padding: 0 7px 0 10px;
  font-size: 40px;
  color: #FFF;
  background-color: #3E313C;
  height: 50px;
}
#settings {
  display:none;
}
.navbutton {
  font-size: 30px;
  padding: 3px 5px 3px 5px;
  border: 1px solid rgba(0, 0, 0, 0.5);
  border-radius: 7px;
  margin: 6px;
  background-color: rgba(255, 255, 255, 0.25);
  color: rgba(182, 37, 76, 0.50);
  float:right;
}
.navbutton:hover {
  font-size: 31px;
  background-color: rgba(255, 255, 255, 0.5);
  cursor: pointer;
  color: rgba(182, 37, 76, 0.75);
}
/*
 * User menu
 */
#user-menu {
  position: absolute;
  top:50px;
  right:217px;
  height: 400px;
  width: 200px;
  background: rgba(18, 163, 130, 0.5);
  z-index:999;
  display:none;
}

/*
 * Sidebar
 */

#chat-zone {
  float:right;
  padding: 0 7px 0 10px;
  width: 200px;
  background-color: #ab9ba9;
  position: absolute;
  top: 50px;
  right: 0px;
  height: 100%;
}
#messages {
  font-size: 12px;
  width: 190px;
  background-color: white;
  padding: 10px 0px 5px 7px;
  clear:both;
}
#user-list {
  padding: 2px;
  font-family: Lato, sans-serif;
  margin-top: 5px;
  font-size: 12px;
}
#user-list .participant {
  padding: 4px;
  float: left;
  background: rgba(0, 128, 0, 0.39);
  margin: 3px;
  border-radius: 10px;
}
#user-list .editor {

}
#talk {
  float: right;
  width: 200px;
  background: #3e313c;
  border-top: 2px solid #372c36;
  padding: 10px 7px 0px 10px;
  height: 4rem;
  position: fixed;
  bottom: 0;
  right: 0;
}
/*
 * work area
 */
#work-zone {
  margin-right: 200px;
}

#code {

}
#output {
}
