body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
#hidden {
  display:none;
}
div.twobox > div {
  min-height: 200px;
  display: inline-block;
  vertical-align: top;
  overflow: auto;
  margin: 5px;
}
#messages {
  border: 1px solid red;
  width: 70%;
}
#user-list {
  width: 27%;
  border: 1px solid black;
  max-width: 300px;
  min-width: 100px;
}
#user-list .editor {
  font-style: bold;
  border: 1px solid yellow;
}
#code {
  width: 50%;
}
#output {
  width: 50%;
  display:block;
}
